/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{background: #f1f1f1;   font-family: "Open Sans", sans-serif;}

.main .sidebarWrapper{ height: 100vh;}
.main .sidebarWrapper .sidebar{ height: 100vh; background: #fff;}
.main .sidebarWrapper .sidebar .sidebarTabs button{justify-content: flex-start !important; color: #222222; text-transform: capitalize; font-size: 16px;}
.main .sidebarWrapper .sidebar .sidebarTabs button svg{font-size: 20px;}
